@charset "UTF-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q,
samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header,
hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: bottom;
  background: transparent;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
}

article, aside, details, figcaption, figure, footer, header,
hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: bottom;
  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
select {
  vertical-align: middle;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* font
---------------------------------------- */
html {
  font-size: 625%;
}

body {
  font-size: .15em;
  font-family: "游ゴシック Medium","Yu Gothic Medium","游ゴシック体","Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
  line-height: 1.5;
  color: #333;
}

p {
  font-size: 0.12rem;
}

.u-serif {
  font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝 medium", "ＭＳ 明朝", serif;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #333;
  transition-duration: 0.4s;
}

@-webkit-keyframes submenu {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}

@keyframes submenu {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}

/* layout
---------------------------------------- */
.l-content {
  width: 100%;
  margin: 0 auto 50px;
}

.l-content-l {
  width: 100%;
  margin: 0 auto 50px;
}

.l-content-s {
  width: 100%;
}

.l-3col {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -20px;
}

.l-3col > * {
  width: 31.7%;
  margin-right: 2.45%;
  margin-bottom: 20px;
}

.l-3col > *:nth-of-type(3n) {
  margin-right: 0;
}

.l-4col {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -20px;
}

.l-4col > * {
  width: 23%;
  margin-right: 2%;
  margin-bottom: 20px;
}

.l-4col > *:nth-of-type(4n) {
  margin-right: 0;
}

/* commonーparts
---------------------------------------- */
/* top
---------------------------------------- */
/* utility
---------------------------------------- */
.u-clx::after {
  clear: both;
  display: block;
  content: '';
}

.u-section {
  margin-bottom: 90px;
}

.u-section--side {
  margin-bottom: 50px;
}

.u-li-disc {
  list-style-type: disc;
}

.pc-only {
  display: none;
}

.sp-only {
  display: block;
}

span.pc-only {
  display: none;
}

span.sp-only {
  display: inline-block;
}

.u-tac {
  text-align: center;
}

.u-tal {
  text-align: right;
}

.u-bold {
  font-weight: bold;
}

.u-red {
  color: #d2040a;
}

.u-blue {
  color: #0009e1;
}

.u-red {
  color: #d2040a;
}

.u-lth {
  text-decoration: line-through;
}

.f16 {
  font-size: 0.16rem;
}

.f18 {
  font-size: 0.18rem;
}

.f20 {
  font-size: 0.20rem;
}

.f22 {
  font-size: 0.22rem;
}

.f24 {
  font-size: 0.24rem;
}

.ls02 {
  letter-spacing: 0.2em;
}

.ls03 {
  letter-spacing: 0.3em;
}

.ls04 {
  letter-spacing: 0.4em;
}

.ls05 {
  letter-spacing: 0.5em;
}

.ls06 {
  letter-spacing: 0.6em;
}

.ls07 {
  letter-spacing: 0.7em;
}

.ls08 {
  letter-spacing: 0.8em;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb45 {
  margin-bottom: 45px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb70 {
  margin-bottom: 70px;
}

.mb80 {
  margin-bottom: 80px;
}

.mb90 {
  margin-bottom: 90px;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mt50 {
  margin-top: 50px;
}

@media screen and (min-width: 561px) {
  p {
    font-size: 0.15rem;
  }
  .l-content {
    margin: 0 auto 80px;
  }
  .l-content-l {
    margin: 0 auto 80px;
  }
}

@media screen and (min-width: 961px) {
  p {
    font-size: 0.15rem;
  }
  a {
    cursor: pointer;
  }
  a:hover {
    opacity: 0.7;
  }
  .l-content {
    width: 1250px;
    margin: 0 auto 100px;
  }
  .l-content-l {
    margin: 0 auto 100px;
  }
  .l-content-s {
    width: 890px;
    margin: 0 auto;
    padding-left: 50px;
  }
  .pc-only {
    display: block;
  }
  .sp-only {
    display: none;
  }
  span.pc-only {
    display: inline-block;
  }
  span.sp-only {
    display: none;
  }
}
