/* layout
---------------------------------------- */
body {
  background: url('../img/img_bg_main01.png') right top / 95px no-repeat, url('../img/img_bg_main02.png') left bottom / 95px no-repeat;
  @include sp {
    background: url('../img/img_bg_main01.png') right top / 190px 157px no-repeat, url('../img/img_bg_main02.png') left bottom / 190px 157px no-repeat;
  }
}
.l-content-wrapper {
  width: 100%;
}
.l-content {
  width: 100%;
  margin: 0 auto;
  @include tablet {
    width: $w-content;
  }
}
.l-content-2col {
  width: 100%;
  margin: 0 auto;
  position: relative;
  .l-2col__main {
    padding: 4px $sp-padding 10px;
  }
  .l-2col__side {
    display: flex;
    flex-direction: column-reverse;
    &__inr01 {
      background-color: $col-bg01;
      padding: 30px $sp-padding;
    }
    &__inr02 {
      padding: 24px $sp-padding;
    }
  }
  @include sp {
    padding: 0 10px;
    .l-2col__main {
      float: left;
      width: 64%;
      padding: 10px;
      margin: 0 0 60px 0;
    }
    .l-2col__side {
      float: left;
      width: 36%;
      padding: 30px 10px 20px;
      background: url('../img/img_bg_tri01.png') left top / 33px 20px repeat-x, url('../img/img_bg_tri01.png') left bottom / 33px 20px repeat-x;
      flex-direction: column;
      margin-bottom: 20px;
      &__inr01 {
        background-color: transparent;
        padding: 0;
      }
      &__inr02 {
        padding: 0;
      }
      &.is-fixed {
        position: fixed;
        bottom: 0;
        right: 0;
      }
    }
    &::after {
      content: '';
      clear: both;
      display: block;
    }
  }
  @include tablet {
    max-width: $w-content;
    padding: 0;
    .l-2col__main {
      width: calc(100% - 420px);
      margin: 0 20px 60px 0;
    }
    .l-2col__side {
      width: 400px;
      padding: 50px 20px 100px;
      &.is-fixed {
        bottom: 0;
        right: 0;
      }
    }
  }
  @include wide {
    .l-2col__side {
      &.is-fixed {
        bottom: 0;
        right: calc(50% - 600px);
      }
    }
  }
}
//grid
.l-2col {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -20px;
  > * {
    width: 48%;
    margin-right: 4%;
    margin-bottom: 20px;
    &:nth-of-type(2n) {
      margin-right: 0;
    }
  }
}
.l-3col {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -20px;
  > * {
    width: 31.7%;
    margin-right: 2.45%;
    margin-bottom: 20px;
    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }
}
.l-4col {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -20px;
  > * {
    width: 23%;
    margin-right: 2%;
    margin-bottom: 20px;
    &:nth-of-type(4n) {
      margin-right: 0;
    }
  }
}
body.is-fixed {
  position: fixed;
}
.header {
  box-sizing: border-box;
  &__inr {
    display: flex;
    height: 90px;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 10px 16px;
    align-items: center;
  }
  &__logo {
    width: 80px;
    margin-right: 10px;
    > img {
      width: 100%;
      height: auto;
    }
  }
  &__caption {
    display: block;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #333;
  }
  @include sp {
    &__inr {
      padding: 20px 20px;
      height: 120px;
    }
    &__logo {
      width: 130px;
      margin-right: 10px;
      > img {
        width: 100%;
        height: auto;
      }
    }
    &__caption {
      padding: 20px 0;
    }
  }
  @include tablet {
    &__logo {
      margin-right: 20px;
    }
  }
}
.footer {
  padding: 40px 0;
  text-align: center;
}