/* commonーparts
---------------------------------------- */
/* main post */
.post  p {
  line-height: 2.2;
  @include tablet {
    line-height: 2.2;
  }
}
.post  p + p {
  margin-top: 16px;
  @include sp {
    margin-top: 16px;
  }
}
.post  p + ul,
.post ul + p {
  margin-top: 12px;
  @include sp {
    margin-top: 18px;
  }
}
.post  p + h1,
.post  p + h2 {
  margin-top: 32px;
  @include sp {
    margin-top: 48px;
  }
}
.post-ttl-lv2,
.post h2 {
  font-size: 0.16rem;
  margin-bottom: 12px;
  @include sp {
    font-size: 0.18rem;
    margin-bottom: 16px;
  }
}
.post p br {
  display: none;
}
.post ul {
  margin: 20px 0;
  padding: 12px 0;
  border: 1px solid $col-sub02;
  border-radius: 10px;
  list-style: disc;
  li {
    margin-right: 1em;
    margin-left: 2.0em;
    overflow-wrap: break-word;
  }
  li + li {
    margin-top: 0.4em;
  }
}
.post-ttl-lv1,
.post h1 {
  position: relative;
  font-family: $font-family-serif;
  font-size: 0.17rem;
  width: 100%;
  margin-bottom: 12px;
  padding: 20px 0;
  text-align: center;
  background: url('../img/img_bg_ttl01.png') top left / 42px no-repeat, url('../img/img_bg_ttl02.png') bottom right / 42px no-repeat;
  > .u-caveat {
    font-size: 0.22rem;
    position: relative;
    left: -3px;
    bottom: -3px;
  }
  @include sp {
    font-size: 0.18rem;
    margin-bottom: 16px;
    > .u-caveat {
      font-size: 0.27rem;
    }
  }
  @include tablet {
    font-size: 0.20rem;
    padding: 30px 0;
    background: url('../img/img_bg_ttl01.png') top left / 85px no-repeat, url('../img/img_bg_ttl02.png') bottom right / 85px no-repeat;
    > .u-caveat {
      font-size: 0.30rem;
      left: -5px;
      bottom: -5px;
    }
  }
  @include wide {
    font-size: 0.24rem;
    background: url('../img/img_bg_ttl01.png') top left / 85px no-repeat, url('../img/img_bg_ttl02.png') bottom right / 85px no-repeat;
    > .u-caveat {
      font-size: 0.34rem;
    }
  }
}
.post em,
.mark {
  background: linear-gradient(transparent 65%, $col-main03 65%);
  font-weight: bold;
  padding: 0.2em 0;
  border-radius: 2px;
  font-style: normal;
}
.txt-caption {
  font-size: 0.12rem;
  color: #aaa;

  @include sp {
    font-size: 0.13rem;
  }
}
.block-main {
  margin-bottom: 30px;
  position: relative;
  @include tablet {
    margin-bottom: 40px;
  }
  .main-img {
    position: relative;
    width: 100%;
    padding-top: 64%; 
    overflow: hidden;
    img,
    source {
      position: absolute;
      width: 100%;
      height: auto;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .badge {
    position: absolute;
    z-index: 10;
    width: 60px;
    height: 60px;
    bottom: 34px;
    right: 8px;
    text-align: center;
    background-color: $col-bg03;
    color: #fff;
    border-radius: 50%;
    &__num {
      display: block;
      font-family: $font-family-caveat;
      font-size: 0.18rem;
      line-height: 1.5;
      width: 80%;
      margin: 0 auto;
      padding: 5px 0 0;
      border-bottom: 1px solid #fff;
    }
    &__txt {
      display: block;
      font-size: 0.12rem;
      line-height: 1.5;
    }
    @include tablet {
      width: 80px;
      height: 80px;
      bottom: 30px;
      right: 12px;
      &__num {
        font-size: 0.20rem;
        line-height: 1.5;
        padding: 8px 0 0;
      }
      &__txt {
        font-size: 0.18rem;
        line-height: 1.5;
      }
    }
    @include wide {
      width: 100px;
      height: 100px;
      bottom: 30px;
      right: 12px;
      &__num {
        font-size: 0.32rem;
        line-height: 1.5;
        padding: 8px 0 0;
      }
      &__txt {
        font-size: 0.18rem;
        line-height: 1.5;
      }
    }
  }
  .caption {
    position: absolute;
    z-index: 8;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px 10px;
    font-family: $font-family-serif;
    font-size: 0.16rem;
    font-weight: bold;
    background-color: #fff;
    opacity: 0.84;
    @include tablet {
      padding: 20px 20px;
      font-size: 0.20rem;
    }
    @include wide {
      padding: 20px 40px;
      font-size: 0.24rem;
    }
  }
}
.block-figure {
  margin: 20px 0;
  .imgarea {
    img {
      width: 100%;
      height: auto;
    }
  }
  .caption {
    padding: 20px 26px 10px;
    background: url('../img/img_bg_caption01.png') top left / 30px no-repeat, url('../img/img_bg_caption02.png') top right / 30px no-repeat;
    font-family: $font-family-serif;
    text-align: center;
    br {
      display: none;
    }
    p {
      font-size: 0.13rem;
    }
  }
  @include sp {
    margin: 30px 0;
  }
  @include tablet {
    display: flex;
    align-items: center;
    margin: 40px 0;
    .imgarea,
    .caption {
      width: 50%;
    }
    .caption {
      margin: 0 0 0 20px;
      padding: 32px 40px;
      background: url('../img/img_bg_caption01.png') top left / 44px no-repeat, url('../img/img_bg_caption02.png') top right / 44px no-repeat;
      br {
        display: inline;
      }
      p {
        font-size: 0.15rem;
      }
    }
    &.reverse {
      flex-direction: row-reverse;
      .caption {
        margin: 0 20px 0 0;
      }
    }
  }
}

.block-menu {
  margin: 20px 0;
  padding: 12px 0;
  font-size: 0.14rem;
  border: 1px solid $col-sub02;
  border-radius: 10px;
  table {
    margin: 0 auto;
    th {
      width: 50%;
      padding: 4px 10px;
      font-weight: normal;
      text-align: left;
    }
    td {
      width: 50%;
      padding: 4px 10px;
      text-align: right;
      &::before {
        content: "・・・ ";
      }
    }
  }
  @include sp {
    font-size: 0.16rem;
    margin: 30px 0;
    table {
      th {
        width: 50%;
        padding: 8px 20px;
      }
      td {
        width: 50%;
        padding: 8px 20px;
      }
    }
  }
  @include tablet {
    table {
      width: 60%;
    }
  }
}

.block-about {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 30px auto 0;
  &__imgwrap {
    display: none;
  }
  @include sp {
    padding: 20px 15px;
  }
  @include tablet {
    padding: 20px;
    &__inr {
      display: flex;
    }
    &__imgwrap {
      display: block;
      flex: 1;
      position: relative;
      width: 100%;
      overflow: hidden;
      flex: 0 1 30%;
      img, source {
        position: absolute;
        width: 100%;
        height: auto;
      }
    }
    &__body {
      flex: 1;
      padding-left: 20px;
    }
  }
  a {
    text-decoration: underline;
  }
  p {
    font-size: 0.13rem;
    @include tablet {
      font-size: 0.14rem;
    }
  }
  p + p {
    margin-top: 5px;
  }
  .toparea {
    margin-bottom: 8px;
    .name {
      font-size: 0.15rem;
      line-height: 16px;
      @include sp {
        font-size: 0.16rem;
        line-height: 20px;
      }
    }
    .sns {
      display: inline-block;
      margin: 8px 0 8px;
      font-size: 0.12rem;
      line-height: 16px;
      @include sp {
        font-size: 0.14rem;
        line-height: 20px;
      }
      &__item {
        margin-right: 10px;
        i {
          font-size: 0.16rem;
          line-height: 16px;
          padding-right: 5px;
          @include tablet {
            font-size: 0.20rem;
            line-height: 20px;
          }
        }
        &.fb i {
          color: $col-fb;
        }
        &.insta i {
          color: $col-insta;
        }
        &.tw i {
          color: $col-tw;
        }
      }
    }
  }
  .caption {
    color: #666;
    font-size: 0.12rem;
    @include sp {
      font-size: 0.13rem;
    }
  }
}
.block-gallery {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -20px;
  margin: 30px auto 0;
  &__item {
    display: flex;
    width: 48%;
    margin-right: 4%;
    margin-bottom: 20px;
    &:nth-of-type(2n) {
      margin-right: 0;
    }
    @include sp {
      width: 31.7%;
      margin-right: 2.45%;
      margin-bottom: 20px;
      &:nth-of-type(2n) {
        margin-right: 2.45%;
      }
      &:nth-of-type(3n) {
        margin-right: 0;
      }
    }
  }
}
.gallery {
  &__imgwrap {
    position: relative;
    width: 100%;
    overflow: hidden;
    flex: 0 1 30%;
    img, source {
      width: 100%;
      height: auto;
    }
  }
  &__caption {
    flex: 1;
    color: #666;
    font-size: 0.12rem;
    margin-top: 8px;
    @include sp {
      font-size: 0.13rem;
    }
  }
}

.block-sammary {
  margin: 30px 0 0;
  &__inr  {
    padding: 20px 0;
  }
  .ttl {
  font-size: 0.15rem;;
  font-weight: normal;
  }
}

/* side menu */
.search-form {
  display: flex;
  height: 40px;
  border: 2px solid $col-sub02;
  font-size: 0.16rem;
  .input {
    width: calc(100% - 46px);
    border: none;
    padding: 0 20px;
    &::placeholder {
      color: #aaa;
    }
    &:focus {
      outline: none;
    }
  }
  .btn {
    width: 46px;
    border: none;
    background: $col-sub02 url('../img/ic_search.png') center center / 18px 18px no-repeat;
  }
}
.link-list {
  border-top: 1px solid #ccc;
  &__item {
    font-size: 0.18rem;
    font-weight: normal;
    padding: 12px;
    border-bottom: 1px solid #ccc;
    i {
      line-height: 1.5;
      padding-right: 10px;
    }
    @include tablet {
      &:hover {
        a {
          opacity: 1;
        }
        i {
          color: $col-main02;
          transition-duration: $duration;
        }
      }
    }
  }
}
.link-card {
  &__item + &__item{
    margin-top: 10px;
  }
}
.card {
  display: flex;
  align-items: center;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  &__imgwrap {
    position: relative;
    width: 100%;
    overflow: hidden;
    flex: 0 1 30%;
    img, source {
      width: 100%;
      height: auto;
    }
  }
  &__body {
    flex: 1;
    padding-left: 10px;
    .ttl {
      font-size: 0.15rem;
      font-family: $font-family-serif;
    }
    .u-caveat {
      font-size: 0.18rem;
    }
  }
}
.link-card-large {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -20px;
  &__item {
    display: flex;
    width: 48%;
    margin-right: 4%;
    margin-bottom: 20px;
    &:nth-of-type(2n) {
      margin-right: 0;
    }
    @include sp {
      width: 31.7%;
      margin-right: 2.45%;
      margin-bottom: 20px;
      &:nth-of-type(2n) {
        margin-right: 2.45%;
      }
      &:nth-of-type(3n) {
        margin-right: 0;
      }
    }
  }
}
.card-large {
  background: #fff;
  border: 1px solid #ccc;
  &__imgwrap {
    position: relative;
    width: 100%;
    overflow: hidden;
    img, source {
      width: 100%;
      height: auto;
    }
  }
  &__body {
    padding: 10px;
    min-height: 94px;
    .ttl {
      font-size: 0.15rem;
      font-family: $font-family-serif;
    }
    .u-caveat {
      font-size: 0.18rem;
    }
  }
}
.block-profile {
  display: flex;
  padding: 16px;
  background-color: $col-main03;
  border-radius: 10px;
  &__l {
    flex: 0 1 30%;
    text-align: center;
    .ttl {
      font-weight: bold;
      font-size: 0.16rem;
    }
    .icon {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      overflow: hidden;
      margin: 10px auto 0;
      > img {
        width: 100%;
        height: auto;
      }
    }
    .sns {
      font-size: 0.18rem;
      &__link {
        padding: 5px;
      }
      &__txt {
        display: inline-block;
        font-family: $font-family-caveat;
        font-size: 0.16rem;
        padding-left: 7px;
        transform: translateY(4px);
        @include sp {
          font-size: 0.18rem;
        }
      }
    }
  }
  &__r {
    flex: 1;
    padding-left: 20px;
    .name {
      border-bottom: 4px solid #fff;
      font-size: 0.14rem;
      line-height: 1.8;
      margin-bottom: 10px;
    }
    .txt {
      font-size: 0.13rem;
      @include sp {
        font-size: 0.14rem;
      }
    }
  }
}
/* common */
.ttl-lv1 {
  text-align: center;
  margin-bottom: 34px;
  span {
    position: relative;
    display: inline-block;
    padding-bottom: 8px;
    font-family: $font-family-serif;
    font-size: 0.20rem;

    &::before {
      position: absolute;
      width: 100%;
      height: 1px;
      background: #777;
      left: 0;
      bottom: 0;
      content: "";
      z-index: 3;
    }

    &::after {
      position: absolute;
      width: 94%;
      height: 16px;
      background: $col-sub02;
      left: 50%;
      transform: translateX(-50%);
      bottom: -10px;
      border-radius: 2px;
      content: "";
      z-index: 2;
    }
  }
}