@charset "UTF-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q,
samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header,
hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: bottom;
  background: transparent;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
}

article, aside, details, figcaption, figure, footer, header,
hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: bottom;
  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
select {
  vertical-align: middle;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* font
---------------------------------------- */
html {
  font-size: 625%;
}

body {
  font-size: .15em;
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
  line-height: 1.5;
  color: #333;
}

p {
  font-size: 0.13rem;
}

.u-serif {
  font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝 medium", "ＭＳ 明朝", serif;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #333;
  transition-duration: 0.4s;
}

@font-face {
  font-family: 'Caveat-Regular';
  src: url(../font/Caveat-Regular.ttf);
}

/* layout
---------------------------------------- */
body {
  background: url("../img/img_bg_main01.png") right top/95px no-repeat, url("../img/img_bg_main02.png") left bottom/95px no-repeat;
}

.l-content-wrapper {
  width: 100%;
}

.l-content {
  width: 100%;
  margin: 0 auto;
}

.l-content-2col {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.l-content-2col .l-2col__main {
  padding: 20px 12px;
}

.l-content-2col .l-2col__side {
  display: flex;
  flex-direction: column-reverse;
}

.l-content-2col .l-2col__side__inr01 {
  background-color: #ecf5f5;
  padding: 40px 12px;
}

.l-content-2col .l-2col__side__inr02 {
  padding: 24px 12px;
}

.l-2col {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -20px;
}

.l-2col > * {
  width: 48%;
  margin-right: 4%;
  margin-bottom: 20px;
}

.l-2col > *:nth-of-type(2n) {
  margin-right: 0;
}

.l-3col {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -20px;
}

.l-3col > * {
  width: 31.7%;
  margin-right: 2.45%;
  margin-bottom: 20px;
}

.l-3col > *:nth-of-type(3n) {
  margin-right: 0;
}

.l-4col {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -20px;
}

.l-4col > * {
  width: 23%;
  margin-right: 2%;
  margin-bottom: 20px;
}

.l-4col > *:nth-of-type(4n) {
  margin-right: 0;
}

body.is-fixed {
  position: fixed;
}

.header {
  box-sizing: border-box;
}

.header__inr {
  display: flex;
  height: 90px;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 10px 16px;
  align-items: center;
}

.header__logo {
  width: 80px;
  margin-right: 10px;
}

.header__logo > img {
  width: 100%;
  height: auto;
}

.header__caption {
  display: block;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #333;
}

.footer {
  padding: 40px 0;
  text-align: center;
}

/* commonーparts
---------------------------------------- */
/* main post */
.post .content p {
  line-height: 2;
}

.post .content p + p {
  margin-top: 20px;
}

.post-ttl-lv1,
.post .content h1 {
  position: relative;
  font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝 medium", "ＭＳ 明朝", serif;
  font-size: 0.15rem;
  width: 100%;
  padding: 30px 0;
  text-align: center;
  background: url("../img/img_bg_ttl01.png") top left/42px no-repeat, url("../img/img_bg_ttl02.png") bottom right/42px no-repeat;
}

.post-ttl-lv1 > .u-caveat,
.post .content h1 > .u-caveat {
  font-size: 0.20rem;
}

.post .content mark,
.mark {
  background: linear-gradient(transparent 65%, #C4E7E5 65%);
  font-weight: bold;
  padding: 0.2em 0;
  border-radius: 2px;
}

.ttl-lv1 {
  text-align: center;
  margin-bottom: 34px;
}

.ttl-lv1 span {
  position: relative;
  display: inline-block;
  padding-bottom: 8px;
  font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝 medium", "ＭＳ 明朝", serif;
  font-size: 0.20rem;
}

.ttl-lv1 span::before {
  position: absolute;
  width: 100%;
  height: 1px;
  background: #777;
  left: 0;
  bottom: 0;
  content: "";
  z-index: 3;
}

.ttl-lv1 span::after {
  position: absolute;
  width: 94%;
  height: 16px;
  background: #cad3d5;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  border-radius: 2px;
  content: "";
  z-index: 2;
}

.badge {
  width: 60px;
  height: 60px;
  bottom: 0;
  right: 0;
  text-align: center;
  background-color: #4d5554;
  color: #fff;
  border-radius: 50%;
}

.badge__num {
  display: block;
  font-family: "Caveat-Regular", serif;
  font-size: 0.18rem;
  line-height: 1.5;
  width: 80%;
  margin: 0 auto;
  padding: 5px 0 0;
  border-bottom: 1px solid #fff;
}

.badge__txt {
  display: block;
  font-size: 0.12rem;
  line-height: 1.5;
}

.txt-caption {
  font-size: 0.12rem;
  color: #aaa;
}

.block-main {
  margin: 20px 0;
  position: relative;
}

.block-main .main-img {
  position: relative;
  width: 100%;
  padding-top: 64%;
  overflow: hidden;
}

.block-main .main-img > img {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
}

.block-main .badge {
  position: absolute;
  bottom: 40px;
  right: 8px;
  z-index: 10;
}

.block-main .caption {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝 medium", "ＭＳ 明朝", serif;
  font-size: 0.13rem;
  font-weight: bold;
  background-color: #fff;
  opacity: 0.84;
  z-index: 8;
}

.block-figure {
  margin: 20px 0;
}

.block-figure .imgarea img {
  width: 100%;
  height: auto;
}

.block-figure .caption {
  padding: 20px 26px 10px;
  background: url("../img/img_bg_caption01.png") top left/30px no-repeat, url("../img/img_bg_caption02.png") top right/30px no-repeat;
  font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝 medium", "ＭＳ 明朝", serif;
  text-align: center;
}

.block-figure .caption br {
  display: none;
}

.block-figure .caption p {
  font-size: 0.13rem;
}

.block-menu {
  margin: 20px 0;
  padding: 12px 0;
  font-size: 0.14rem;
  border: 1px solid #cad3d5;
  border-radius: 10px;
}

.block-menu table {
  margin: 0 auto;
}

.block-menu table th {
  width: 50%;
  padding: 4px 10px;
  font-weight: normal;
  text-align: left;
}

.block-menu table td {
  width: 50%;
  padding: 4px 10px;
  text-align: right;
}

.block-menu table td::before {
  content: "・・・ ";
}

.block-about {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 30px auto 0;
}

.block-about__imgwrap {
  display: none;
}

.block-about a {
  text-decoration: underline;
}

.block-about p {
  font-size: 0.11rem;
  margin-top: 5px;
}

.block-about .toparea .name {
  font-size: 0.13rem;
  line-height: 16px;
}

.block-about .toparea .sns {
  display: inline-block;
  margin-bottom: 8px;
  font-size: 0.12rem;
  line-height: 16px;
}

.block-about .toparea .sns__item {
  margin-right: 10px;
}

.block-about .toparea .sns__item i {
  font-size: 0.16rem;
  line-height: 16px;
  padding-right: 5px;
}

.block-about .toparea .sns__item.fb i {
  color: #1877f2;
}

.block-about .toparea .sns__item.insta i {
  color: #CF2E92;
}

.block-about .toparea .sns__item.tw i {
  color: #1DA1F2;
}

.block-about .caption {
  color: #666;
}

.block-sammary {
  margin: 30px 0 0;
}

.block-sammary__inr {
  padding: 20px 0;
}

.block-sammary .ttl {
  font-size: 0.15rem;
  font-weight: normal;
}

/* side menu */
.search-form {
  display: flex;
  height: 40px;
  border: 2px solid #cad3d5;
  font-size: 0.16rem;
}

.search-form .input {
  width: calc(100% - 46px);
  border: none;
  padding: 0 20px;
}

.search-form .input::-webkit-input-placeholder {
  color: #aaa;
}

.search-form .input::-moz-placeholder {
  color: #aaa;
}

.search-form .input:-ms-input-placeholder {
  color: #aaa;
}

.search-form .input::-ms-input-placeholder {
  color: #aaa;
}

.search-form .input::placeholder {
  color: #aaa;
}

.search-form .input:focus {
  outline: none;
}

.search-form .btn {
  width: 46px;
  border: none;
  background: #cad3d5 url("../img/ic_search.png") center center/18px 18px no-repeat;
}

.link-list {
  border-top: 1px solid #ccc;
}

.link-list__item {
  font-size: 0.18rem;
  font-weight: normal;
  padding: 12px;
  border-bottom: 1px solid #ccc;
}

.link-list__item i {
  line-height: 1.5;
  padding-right: 10px;
}

.link-card__item + .link-card__item {
  margin-top: 10px;
}

.card {
  display: flex;
  align-items: center;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
}

.card__imgwrap {
  position: relative;
  width: 100%;
  overflow: hidden;
  flex: 0 1 30%;
}

.card__imgwrap > img {
  width: 100%;
  height: auto;
}

.card__body {
  flex: 1;
  padding-left: 10px;
}

.card__body .ttl {
  font-size: 0.15rem;
  font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝 medium", "ＭＳ 明朝", serif;
}

.card__body .u-caveat {
  font-size: 0.18rem;
}

.block-profile {
  display: flex;
  padding: 16px;
  background-color: #C4E7E5;
  border-radius: 10px;
}

.block-profile__l {
  flex: 0 1 30%;
  text-align: center;
}

.block-profile__l .ttl {
  font-weight: bold;
  font-size: 0.16rem;
}

.block-profile__l .icon {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
  margin: 10px auto 0;
}

.block-profile__l .icon > img {
  width: 100%;
  height: auto;
}

.block-profile__l .sns {
  font-size: 0.18rem;
}

.block-profile__l .sns__link {
  padding: 5px;
}

.block-profile__l .sns__txt {
  display: inline-block;
  font-family: "Caveat-Regular", serif;
  font-size: 0.14rem;
  padding-left: 7px;
  transform: translateY(2px);
}

.block-profile__r {
  flex: 1;
  padding-left: 20px;
}

.block-profile__r .name {
  border-bottom: 4px solid #fff;
  font-size: 0.14rem;
  line-height: 1.8;
  margin-bottom: 10px;
}

.block-profile__r .txt {
  font-size: 0.12rem;
}

/* utility
---------------------------------------- */
.u-clx::after {
  clear: both;
  display: block;
  content: '';
}

.u-li-disc {
  list-style-type: disc;
}

.pc-only {
  display: none;
}

.sp-only {
  display: block;
}

span.pc-only {
  display: none;
}

span.sp-only {
  display: inline-block;
}

.u-space {
  margin-bottom: 20px;
}

.u-space--l {
  margin-bottom: 30px;
}

.u-space--s {
  margin-bottom: 10px;
}

.u-tac {
  text-align: center;
}

.u-tal {
  text-align: right;
}

.u-bold {
  font-weight: bold;
}

.u-lth {
  text-decoration: line-through;
}

.u-serif {
  font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝 medium", "ＭＳ 明朝", serif;
}

.u-caveat {
  font-family: "Caveat-Regular", serif;
}

.f13 {
  font-size: 0.13rem;
}

.f14 {
  font-size: 0.14rem;
}

.f15 {
  font-size: 0.15rem;
}

.f16 {
  font-size: 0.16rem;
}

.f18 {
  font-size: 0.18rem;
}

.f20 {
  font-size: 0.20rem;
}

.f22 {
  font-size: 0.22rem;
}

.f24 {
  font-size: 0.24rem;
}

.f26 {
  font-size: 0.26rem;
}

.f28 {
  font-size: 0.28rem;
}

.f30 {
  font-size: 0.30rem;
}

.f32 {
  font-size: 0.32rem;
}

.f34 {
  font-size: 0.34rem;
}

.f36 {
  font-size: 0.36rem;
}

.ls02 {
  letter-spacing: 0.2em;
}

.ls03 {
  letter-spacing: 0.3em;
}

.ls04 {
  letter-spacing: 0.4em;
}

.ls05 {
  letter-spacing: 0.5em;
}

.ls06 {
  letter-spacing: 0.6em;
}

.ls07 {
  letter-spacing: 0.7em;
}

.ls08 {
  letter-spacing: 0.8em;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb45 {
  margin-bottom: 45px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb70 {
  margin-bottom: 70px;
}

.mb80 {
  margin-bottom: 80px;
}

.mb90 {
  margin-bottom: 90px;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mt50 {
  margin-top: 50px;
}

@media screen and (min-width: 561px) {
  p {
    font-size: 0.15rem;
  }
  body {
    background: url("../img/img_bg_main01.png") right top/190px 157px no-repeat, url("../img/img_bg_main02.png") left bottom/190px 157px no-repeat;
  }
  .l-content-2col {
    padding: 0 10px;
  }
  .l-content-2col .l-2col__main {
    float: left;
    width: 64%;
    padding: 20px;
    margin: 0 0 60px 0;
  }
  .l-content-2col .l-2col__side {
    float: left;
    width: 36%;
    padding: 60px 10px 20px;
    background: url("../img/img_bg_tri01.png") left top/33px 20px repeat-x, url("../img/img_bg_tri01.png") left bottom/33px 20px repeat-x;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .l-content-2col .l-2col__side__inr01 {
    background-color: transparent;
    padding: 0;
  }
  .l-content-2col .l-2col__side__inr02 {
    padding: 0;
  }
  .l-content-2col .l-2col__side.is-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
  }
  .l-content-2col::after {
    content: '';
    clear: both;
    display: block;
  }
  .header__inr {
    padding: 20px 20px;
    height: 120px;
  }
  .header__logo {
    width: 130px;
    margin-right: 10px;
  }
  .header__logo > img {
    width: 100%;
    height: auto;
  }
  .header__caption {
    padding: 20px 0;
  }
  .post-ttl-lv1,
  .post .content h1 {
    font-size: 0.18rem;
  }
  .post-ttl-lv1 > .u-caveat,
  .post .content h1 > .u-caveat {
    font-size: 0.24rem;
  }
  .block-main {
    margin: 30px 0;
  }
  .block-figure {
    margin: 30px 0;
  }
  .block-menu {
    font-size: 0.16rem;
    margin: 30px 0;
  }
  .block-menu table th {
    width: 50%;
    padding: 8px 20px;
  }
  .block-menu table td {
    width: 50%;
    padding: 8px 20px;
  }
  .u-space {
    margin-bottom: 25px;
  }
  .u-space--l {
    margin-bottom: 50px;
  }
  .u-space--s {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 961px) {
  p {
    font-size: 0.15rem;
  }
  a {
    cursor: pointer;
  }
  a:hover {
    opacity: 0.7;
  }
  .l-content {
    width: 1200px;
  }
  .l-content-2col {
    max-width: 1200px;
    padding: 0;
  }
  .l-content-2col .l-2col__main {
    width: calc(100% - 400px);
    margin: 0 40px 60px 0;
  }
  .l-content-2col .l-2col__side {
    width: 360px;
    padding: 70px 20px 20px;
  }
  .l-content-2col .l-2col__side.is-fixed {
    bottom: 0;
    right: 0;
  }
  .header__logo {
    margin-right: 20px;
  }
  .post-ttl-lv1,
  .post .content h1 {
    font-size: 0.24rem;
    padding: 46px 0;
    background: url("../img/img_bg_ttl01.png") top left/85px no-repeat, url("../img/img_bg_ttl02.png") bottom right/85px no-repeat;
  }
  .post-ttl-lv1 > .u-caveat,
  .post .content h1 > .u-caveat {
    font-size: 0.32rem;
  }
  .badge {
    width: 100px;
    height: 100px;
  }
  .badge__num {
    font-size: 0.32rem;
    line-height: 1.5;
    padding: 8px 0 0;
  }
  .badge__txt {
    font-size: 0.18rem;
    line-height: 1.5;
  }
  .block-main {
    margin: 40px 0;
  }
  .block-main .badge {
    bottom: 30px;
    right: 12px;
    z-index: 10;
  }
  .block-main .caption {
    padding: 20px 40px;
    font-size: 0.24rem;
  }
  .block-figure {
    display: flex;
    align-items: center;
    margin: 40px 0;
  }
  .block-figure .imgarea,
  .block-figure .caption {
    width: 50%;
  }
  .block-figure .caption {
    margin: 0 0 0 20px;
    padding: 32px 40px;
    background: url("../img/img_bg_caption01.png") top left/44px no-repeat, url("../img/img_bg_caption02.png") top right/44px no-repeat;
  }
  .block-figure .caption br {
    display: inline;
  }
  .block-figure .caption p {
    font-size: 0.15rem;
  }
  .block-figure.reverse {
    flex-direction: row-reverse;
  }
  .block-figure.reverse .caption {
    margin: 0 20px 0 0;
  }
  .block-menu table {
    width: 60%;
  }
  .block-about {
    padding: 20px;
  }
  .block-about__inr {
    display: flex;
  }
  .block-about__imgwrap {
    display: block;
    flex: 1;
    position: relative;
    width: 100%;
    overflow: hidden;
    flex: 0 1 30%;
  }
  .block-about__imgwrap > img {
    position: absolute;
    width: 100%;
    height: auto;
  }
  .block-about__body {
    flex: 1;
    padding-left: 20px;
  }
  .block-about p {
    font-size: 0.13rem;
  }
  .block-about .toparea .name {
    font-size: 0.15rem;
    line-height: 20px;
    margin-bottom: 8px;
  }
  .block-about .toparea .sns {
    font-size: 0.14rem;
    line-height: 20px;
  }
  .block-about .toparea .sns__item i {
    font-size: 0.20rem;
    line-height: 20px;
  }
  .block-about .caption {
    font-size: 0.11rem;
  }
  .link-list__item:hover a {
    opacity: 1;
  }
  .link-list__item:hover i {
    color: #44B4AD;
    transition-duration: 0.4s;
  }
  .pc-only {
    display: block;
  }
  .sp-only {
    display: none;
  }
  span.pc-only {
    display: inline-block;
  }
  span.sp-only {
    display: none;
  }
  .u-space {
    margin-bottom: 35px;
  }
  .u-space--l {
    margin-bottom: 70px;
  }
  .u-space--s {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1201px) {
  .l-content-2col .l-2col__side.is-fixed {
    bottom: 0;
    right: calc(50% - 600px);
  }
}
